
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid:flex;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
*body{
    background-color:red;
    color: white;
    min-height: 100vh;
    font-size: 25px;
}
.title{
    font-family: "lucida calligraphy";
    position:relative;
    left: 25%;
    padding: 2px;
}
.rules{
    transition:2.5s ease;
    transform: translateX(50px) rotateX(360deg);
}
.list{
    font-family: "consolas"; 
    font-size: 25px;
    transform: translateX(150px);
}
